body, h1, h2, h3, p, ul, li, header {
    font-family: Arial, Helvetica, normal;
    color: #450000ff;
}

body {
    background-color: #ffdedeff;
    text-align: center;
}

header img {
    position: absolute;
    top: 8px;
    right: 16px;
}

header img:hover {
    background-image: url("../assets/moonL.png");
    transition: background-image 0.5s ease-in-out;
}

h1 {
    font-weight: bolder;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: lighter;
}

nav {
    color: #450000ff;
    position: absolute;
    left: 16px;
    top: 5px;
    font-size: 18px;
    z-index: 3;
    text-align: right !important;
}

nav ul {
    list-style-type: none;
	padding: 0;
    
}

nav ul li a {
    text-decoration: none;
    padding: 15px 10px;
    text-transform: uppercase;
    font-weight: bold;
	color: #bb6666ff;
}

nav ul li a:hover {
    color: #bb6666ff !important;
}

nav ul li a.active {
    color: #f3b584ff !important;
}

nav ul li a:visited {
    color: rgb(0, 0, 0);
}

nav ul li a.active:hover {
    color: #bb6666ff !important;
}

div {
    width: 500px;
    border: 8px solid #450000ff;
    padding: 50px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
}

footer {
    font-weight: lighter;
    font-size: 10px;
	padding: 10px;
    color: #450000ff;
	bottom: 0;
    width: 100%;
    position: relative;
}

footer a {
    color: #f3b584ff; 
}

footer a:hover {
    color: #bb6666ff !important;
}